.main {
    width: 100vw;
    height: 120px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eachLinguagem {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: linear-gradient(rgb(66, 170, 255), rgb(0, 28, 50));
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eachLinguagem .img {
    height: 60%;
}