.main {
    min-height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* LEFT */

.left {
    height: 100%;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barraLateral {
    height: 400px;
    width: 100%;
    background-color: rgb(77, 170, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.proInfo {
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.proInfoItem {
    width: 200px;
    height: 50%;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    margin: 1px;
}

.nameImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.img {
    width: 40px;
    margin: 5px;
}

.proInfoTitle {
    font-weight: bold;
    font-size: 22px;
}

.proInfoInfo {
    width: 200px;
}

@media (max-width: 1110px) {
    .proInfoItem {
        width: 160px;
        height: 100px;
        margin: 2px;
        font-size: 13px;
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 920px) {
    .proInfoItem {
        width: 130px;
        margin: 3px;
        font-size: 11px;
    }

    .proInfoTitle {
        font-weight: bold;
        font-size: 17px;
    }

    .img {
        width: 30px;
        margin: 5px;
    }
}

@media (max-width: 680px) {
    .main {
        min-height: 80vh;
        flex-direction: column;
        margin-top: 100px;
    }

    .left {
        height: 50vh;
        width: 90vw;
    }
    .barraLateral {
        height: 300px;
        width: 100%;
        background-color: rgb(77, 170, 255);
        display: flex;
    }

    .proInfoItem {
        width: 150px;
        height: 100px;
        margin: 3px;
        font-size: 10px;
    }
}

@media (max-width: 415px) {
    .proInfoItem {
        width: 130px;
        margin: 3px;
        font-size: 11px;
    }

}



/* MIDDLE */

.middle {
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contatoArea {
    height: 85%;
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 7px black;
    z-index: 1;
}

.h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 26px;
    letter-spacing: 4px;
    margin-top: 20px;
    color: rgb(77, 170, 255);
}

.inputArea {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputItem {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputTitle {
    width: 50%;
    margin-bottom: 8px;
    font-size: 17px;
}

.input {
    width: 50%;
    height: 32px;
    border: none;
    box-shadow: 1px 1px 5px black;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 25px;
    font-size: 15px;
}

.buttonEnviar {
    width: 25%;
    height: 45px;
    background-color: rgb(77, 170, 255);
    color: white;
    font-weight: bold;
    text-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    transition: .1s all ease-in;
    box-shadow: 1px 1px 5px black;
}

.buttonEnviar:hover {
    background-color: rgba(48, 48, 48, 0.9);
    color: rgb(77, 170, 255);
    border: 1px solid rgb(77, 170, 255);
}

.span {
    font-size: 11px;
    color: rgb(189, 0, 0);
}

@media (max-width: 680px) {
    .middle {
        height: 90%;
        width: 90%;
        margin-bottom: 100px;
    }

    .buttonEnviar {
        width: 45%;
    }

    .inputArea {
        margin-bottom: 30px;
    }

    .input {
        width: 100%;
    }

    .inputTitle {
        width: 100%;
    }

    .inputItem {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


/* RIGHT */

.right {
    height: 100%;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 680px) {
    .right {
        display: none;
    }   
}