.main {
    width: 100vw;
    min-height: 30vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projetoListTop {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterArea {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categorieFilter {
    width: 150px;
    height: 35px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .1s all ease-in;
}
.categorieFilter:hover {
    background-color: aliceblue;
}
.listaCate {
    width: 150px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    transition: .2s all ease-in;
    border-radius: 0 0px 10px 10px;
    z-index: 1;
}
.eachCate {
    cursor: pointer;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eachCate:hover {
    color: rgb(77, 170, 255);
}
.anything {
    height: 300px;
}
.projetoList {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin-bottom: 50px;
}
.projetoArea {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
}
.eachTecList {
    display: flex;
    align-items: center;
}
.imgTec {
    width: 20px;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 4px;
}
.eachProject {
    height: 240px;
    width: 400px;
    margin: 10px;
    cursor: pointer;
}

.eachProjectImg {
    height: 240px;
    width: 100%;
    border-radius: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.tecImg {
    width: 18px;
    margin-right: 5px;
}
.tecName {
    position: absolute;
    width: 400px;
    height: 240px;
    background: linear-gradient(rgba(0, 0, 0, 0) 70%, black);
    border-radius: 10px;
    display: flex;
    align-items: end;
    color: white;
    transition: .2s all ease-in-out;
    z-index: 0;
}
.projImg {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.tecs {
    margin: 0 0 30px 15px;
    transition: .4s all ease-in;
}
.tecList {
    display: flex;
}
.projectName {
    margin: 5px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

@media (max-height: 575px) {
    .eachProject {
        width: 330px;
        height: 230px;
        margin: 15px;
    }
    .eachProjectImg {
        height: 230px;
    }
    .tecName {
        width: 330px;
        height: 230px;
    }
}

@media (max-width: 980px) {
    .projetoList {
        justify-content: center;
    }
}

@media (max-width: 475px) {

    .eachProject {
        width: 320px;
        height: 220px;
    }

    .tecName {
        width: 320px;
    }

    .categorieFilter {
        width: 140px;
    }

    .listaCate {
        width: 140px;
    }
}

@media (max-width: 380px) {

    .eachProject {
        width: 268px;
    }

    .tecName {
        width: 268px;
    }
}